body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
  }
  hr {
    margin: 100px auto;
    border: none;
    border-top: dotted 6px;
    width: 4%;
    color: #e5eaea;
  }
  h1 {
    margin: 50px auto 0px auto;
    font-size: 6.525rem;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    color: #45b29a;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #45b29a;
  }
  h3 {
    font-family: "Montserrat", sans-serif;
    color: #45b29a;
  }
  a {
    text-decoration: none;
    color: #45b29a;
  }
  .top-container {
    background-color: #e0ebe8;
    padding-top: 100px;
    position: relative;
  }
  p {
    line-height: 2;
  }
  .middle-container {
    margin: 40px auto;
  }
  .profile-description {
    color: #40514e;
    line-height: 1.5;
    width: 30%;
    margin: auto;
  }
  
  .top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
  }
  .bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
  }
  .skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
  }
  .skill-row img {
    width: 25%;
    height: auto;
    padding: 30px;
  }
  .skill-left {
    float: left;
  }
  .skill-right {
    float: right;
  }
  .profile img {
    width: 20%;
    height: auto;
  }
  .btn {
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #1b7f69;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #45b29a;
    text-decoration: none;
  }
  
  .contact-me {
    margin: 100px auto;
    width: 40%;
    line-height: 2;
  }
  .bottom-container {
    padding: 30px 0px;
    color: white;
    background-color: #c5ded7;
  }
  .footer-link {
    font-size: 1rem;
    margin: auto 40px;
    font-family: "Montserrat", sans-serif;
  }
  .footer-link:hover {
    color: black;
  }
  .copyright {
    color: white;
    font-size: 0.75rem;
    padding: 20px auto;
  }
  
